
on:
  workflow_call:
    inputs:
      eid:
        required: false
        type: string
      oid:
        required: false
        type: string
      app-name:
        required: false
        type: string
        default: ${{ github.repository }}
      trx-host:
        required: false
        type: string
        default: 'https://app.threatrix.io'
    secrets:
      TOKEN:
        required: true
      THREATRIX_SERVER_API_KEY:
        required: true
      THREATRIX_EID:
        required: false
      THREATRIX_OID:
        required: false
jobs:
  scan-repository:
    name: Scan repository
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
      - name: Run scan with threat-agent
        uses: threatrix/threat-agent-scan@master
        with:
          eid: ${{ env.THREATRIX_EID }}
          oid: ${{ env.THREATRIX_OID }}
          server-url: ${{ inputs.trx-host }}
          scm-token: ${{ secrets.TOKEN }}
          api-token: ${{ secrets.THREATRIX_SERVER_API_KEY }}
          app-name: ${{ inputs.app-name }}
          branch: ${{ github.ref_name }}
    env:
      THREATRIX_EID: ${{ inputs.eid != '' && inputs.eid || secrets.THREATRIX_EID }}
      THREATRIX_OID: ${{ inputs.oid != '' && inputs.oid || secrets.THREATRIX_OID }}

